/* polices*/

@font-face {
    font-family: 'ralewayblack';
    src: url('fonts/raleway-black.woff2') format('woff2'),
         url('fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('fonts/raleway-blackitalic.woff2') format('woff2'),
         url('fonts/raleway-blackitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold.woff2') format('woff2'),
         url('fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('fonts/raleway-bolditalic.woff2') format('woff2'),
         url('fonts/raleway-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold.woff2') format('woff2'),
         url('fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('fonts/raleway-extrabolditalic.woff2') format('woff2'),
         url('fonts/raleway-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/raleway-extralight.woff2') format('woff2'),
         url('fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('fonts/raleway-extralightitalic.woff2') format('woff2'),
         url('fonts/raleway-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('fonts/raleway-italic.woff2') format('woff2'),
         url('fonts/raleway-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light.woff2') format('woff2'),
         url('fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('fonts/raleway-lightitalic.woff2') format('woff2'),
         url('fonts/raleway-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium.woff2') format('woff2'),
         url('fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Eléments de la page*/

body{
    margin:0px;
    margin-left: 20px;
    margin-right: 20px;
}

#bloc-page {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
   
}

*
{
    font-family: ralewaymedium, sans-serif;
    font-weight: normal;
    font-size: normal;
}

h1
{
    font-family: ralewaymedium, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h3
{
    font-family: ralewaymedium, sans-serif;
    font-weight: bold;
    font-size: small;
}

p
{
    font-family: ralewaymedium, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

a
{
    font-family: ralewaymedium, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
}


/*Menu*/

#entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
#entete img
{
    width: 70px;
    margin-left: 5px;
}
*/

#navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-herbergement
{
    padding-right: 50px;
}


#entete a:hover {
    border-top: 5px solid; color: #0065FC; 
    text-decoration-color: skyblue;
    cursor: pointer;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visted {
    color: black; /*ça ne marche pas. Le lien reste "visité" */
}

/*Menu de recherche*/

#recherche
{
    display: flex;
}

#formulaire-recherche {
    display: flex;
    align-items: center;
    height: 40px;
    width: 320px;
    border: 0.5px solid #f2f2f2;
    border-radius: 10px;
}

#formulaire-text
{
    width: 100%;
}

.logo-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

#logo-localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

.txt-recherche {
    border: none;
    -webkit-appearance: none;
    padding-left: 20px;
    width: 100%;
}

input {
    height: 40px;
    box-sizing: border-box;
}

.bt-rechercher {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 50%;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;

}

.bt-rechercher a {
    font-size: small;
    color: white;
    font-weight: bold;
    box-sizing: content-box;
}

#loupe
{
    display: none;
}

.bt-rechercher a:hover {
    color: #C3CEE8;
}


/*Filtre de recherche*/

#filtre {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 800px;
}

#filtre h3
{
    margin-bottom: 0px;
    margin-right: 20px;
}

#liste-filtre
{
    display: flex;
}

.choix-filtre {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.choix-filtre a {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.logo-bg-filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 25px 25px 25px 25px;
}

.logo-bg-filtre img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

/* Info disponibilité */
#disponibilite {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#disponibilite img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

/*Résultats Hébergements à Marseille*/
#section-herbergement {
    display: flex;
    width: 100%;
}

.bg-results-hebergements {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-around;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    width: 100%;
    /*height: 450px;*/
 
}

.bg-results-hebergements h1, h3{
    margin-top: 0px;
}

#resultats-marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    /*height: 320px;*/
}

/*tuilles hébergemnts*/

.tuille-herbegement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    margin-bottom: 25px;
    width: 30%;
    height: auto;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-herbegement h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tuille-herbegement p {
    margin-top: 0px;
    margin-bottom: 2px;
}



.image-hotel-marseille {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tuille-herbegement img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.stars {
    width: 10px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.stars img {
    width: 80px;
    height: 100%
}

/*Les plus populaires*/

aside {
    display: flex;
    /*flex: 0.3;*/
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    margin-left: 25px;
}

#titre-populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}   

#titre-populaires img {
    height: 15px;
    width: 15px;
}

#titre-populaires h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*tuilles populaires*/

.tuille-populaires {
    display: flex;
    justify-content: left;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    width: 260px;
    height: 100px;
    box-shadow: 2px 2px 10px lightgrey;
}

.image-hotel-populaires {
    border-radius: 10px 0px 0px 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.image-hotel-populaires img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: bottom;
}

.informations-populaires {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.informations-populaires p {
    margin-top: 0px;
    margin-bottom: 25px;
}

.informations-populaires-text {
    display: flex;
    flex-direction: column;
}

.informations-populaires-text h3
{
margin-top: 10px;
margin-bottom: 5px;
}

.stars-populaires {
    width: 30px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.stars-populaires img {
    width: 80px;
    height: 100%
}

/*Activités à Marseille*/

#section-activites {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

#section-activites, h1 {
    margin-bottom: 20px;
}

.activites {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}

.tuille-activites {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 23%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-activites img {
    width: 100%;
    height: 90%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.activites-text {
    margin-top: 8px;
    margin-bottom: 8px;
}

.activites-text h3 
{
    margin-bottom: 0px;
}

.banderole-activites {
    padding-left: 5px;
    padding-right: 5px;
}

.activite-alt {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 23%;
    /*height: auto;*/
    border-radius: 10px 10px 10px 10px;
}

.tuille-activites-fort 
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 55%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-activites-fort img 
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.tuille-activites-iles {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 35%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-activites-iles img 
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.tuille-activites-dame {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-activites-dame img 
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: top;
}

.tuille-activites-longchamp {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    height: 45%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px lightgrey;
}

.tuille-activites-longchamp img 
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
}


/*footer*/
#nav-footer 
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 35px;
    margin-bottom: 0px;
    padding: 25px 200px 25px 25px;
}

.footer-choix 
{
    display: flex;
    flex-direction: column;
}

.footer-choix h3
{
    padding-bottom: 15px;
}

.footer-choix a
{
    padding-bottom: 10px;
    color: dimgrey;
}

/*Media Queries*/

@media screen and (max-width: 992px)
{
    #liste-filtre
    {
        justify-content: space-between;
        width: 80%;
    }

    #section-herbergement
    {
        flex-direction: column;
    }

    .bg-results-hebergements
    {
        width: 95%;
        margin-bottom: 25px;
    }


    .tuille-herbegement img
    {
        object-position: bottom;
    }

    #aside-populaires
    {
        margin-left: 0px;
    }

    #titre-populaires
    {
        margin-bottom: 20px;
    }

    .tuille-populaires
    {
        margin-bottom: 20px;
        width: 100%;
        padding-right: 0px;
        height: 150px;
    }

    .image-hotel-populaires
    {
        width: 60%;
        height: 100%;
    }

    .image-hotel-populaires img
    {
        height: 100%;
        width: 100%;
    }

    .informations-populaires-text
    {
        height: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 768px)
{
    body
    {
        margin:0px;
        margin-left: 0px;
        margin-right: 0px;
    }


    #entete
    {
        display: flex;
        flex-direction: column;
    }

    #entete img
    {
        margin-bottom: 20px;
    }

   #navigation
   {
    width: 100%;
    justify-content: space-evenly;
   }

   #nav-herbergement
   {
    display: flex;
    width: 50%;
    justify-content: center;
    padding-right: 0px;
    border-bottom: 5px solid; color: #f2f2f2;
   }

    #nav-herbergement a
   {
    padding-bottom: 10px;
   }

    #nav-activites
   {
    display: flex;
    width: 50%;
    justify-content: center;
    border-bottom: 5px solid; color: #f2f2f2;
   }

    #nav-activites a
   {
    padding-bottom: 10px;
   }

   #entete a:hover 
   {
    border-top: none; 
    text-decoration-color: #0065FC;
    cursor: pointer;
    }

    #nav-herbergement:hover 
    {
    border-color: #0065fc;
      border-bottom: 5px solid, color: #0065fc;
      cursor: pointer;
    }

     #nav-activites:hover 
    {
    border-color: #0065fc;
      border-bottom: 5px solid, color: #0065fc;
      cursor: pointer;
    }
       
    #reve
    {
        margin-left: 10px;
        margin-right: 50px;
    }

    #reve h1
    {
        padding-bottom: 5px;
    }

    #formulaire-recherche
    {
        width: 90%;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #recherche
    {
        display: flex;
        justify-content: center;
    }

    .bt-rechercher
    {
        width: 20%;
        border-radius : 10px 10px 10px 10px
    }

    .bt-rechercher a
    {
        display: none;
    }

    #loupe
    {
        display: flex;
        height: 50%;
    }

#filtre
    {
        align-items: start;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }

#filtre h3
    {
        margin-bottom: 10px;
    }

#liste-filtre
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100px;
    }

.choix-filtre
    {
        margin-left: 0px;
        margin-right: 0px;

    }

.bg-results-hebergements:nth-child(1)
    {
        order: 2;
    }

#aside-populaires:nth-child(2)
    {
       order: 1; 
    }

#aside-populaires
    {
        margin-bottom: 20px;
        border-radius: 0px 0px 0px 0px;
    }

.bg-results-hebergements
    {
        background-color: white;
        margin: auto;
    }

#resultats-marseille
    {
        flex-wrap: nowrap;
        flex-direction: column;
    }


.tuille-herbegement
    {
        width: 93%;
    }

.activites
    {
        flex-direction: column;
    }





}