/* polices*/

@font-face {
    font-family: 'ralewayblack';
    src: url('fonts/raleway-black.woff2') format('woff2'),
         url('fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayblack_italic';
    src: url('fonts/raleway-blackitalic.woff2') format('woff2'),
         url('fonts/raleway-blackitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold.woff2') format('woff2'),
         url('fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('fonts/raleway-bolditalic.woff2') format('woff2'),
         url('fonts/raleway-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold.woff2') format('woff2'),
         url('fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('fonts/raleway-extrabolditalic.woff2') format('woff2'),
         url('fonts/raleway-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/raleway-extralight.woff2') format('woff2'),
         url('fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('fonts/raleway-extralightitalic.woff2') format('woff2'),
         url('fonts/raleway-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('fonts/raleway-italic.woff2') format('woff2'),
         url('fonts/raleway-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light.woff2') format('woff2'),
         url('fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('fonts/raleway-lightitalic.woff2') format('woff2'),
         url('fonts/raleway-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium.woff2') format('woff2'),
         url('fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Eléments de la page*/

body{
    margin:0px;
}

#bloc_page {
    width: 900px;
    margin: auto;
}

*
{
    font-family: ralewaymedium, sans-serif;
    font-weight: normal;
    font-size: normal;
}

h1
{
    font-family: ralewaymedium, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h3
{
    font-family: ralewaymedium, sans-serif;
    font-weight: bold;
    font-size: small;
}

p
{
    font-family: ralewaymedium, sans-serif;
    font-weight: normal;
    font-size: 12px;
}


/*Menu*/

#entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}

#entete ul {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

#li-hebergement {
   padding-right: 80px;
}


#entete a:hover {
    border-top: 5px solid; color: #0065FC; 
    text-decoration-color: skyblue;
}


a:link {
    text-decoration: none;
}

a:visted {
    color: black; /*ça ne marche pas. Le lien reste "visité" */
}

/*Menu de recherche*/

#formulaire-recherche {
    display: flex;
    align-items: center;
    height: 40px;
    width: 320px;
    border: 0.5px solid #f2f2f2;
    border-radius: 10px;
}

.logo-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

#logo-localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

.txt-recherche {
    border: none;
    -webkit-appearance: none;
    padding-left: 20px;
}

input {
    height: 40px;
    box-sizing: border-box;
}

.bt-rechercher {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 100px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;

}

.bt-rechercher a {
    font-size: small;
    color: white;
    font-weight: bold;
    box-sizing: content-box;
}

.bt-rechercher a:hover {
    color: #C3CEE8;
}


/*Filtre de recherche*/

#filtre {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 800px;
}

.choix-filtre {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.choix-filtre a {
    padding-left: 10px;
    padding-right: 10px;
}

.logo-bg-filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 25px 25px 25px 25px;
}

.logo-bg-filtre img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

/* Info disponibilité */
#disponibilite {
    display: flex;
    align-items: center;
}

#disponibilite img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

/*Résultats Hébergements à Marseille*/
.bg-results-hebergements {
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    width: 650px;
    height: 350px;
 
}

#affichage-results h1, h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

#resultats-marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 260px;
}

.tuille-herbegement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    width: 170px;
    height: 100px;
    box-shadow: 2px 2px 10px lightgrey;
}